@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  background-color: #000;
  /* background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 165, 0, 0.8) 50%, rgba(255, 69, 0, 0.8) 100%), linear-gradient(to bottom right, #ff8c00, #ff4500); */

  /* padding: 20px; */
}
.container_wrapper {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.container_wrapper .main-video-container {
  flex: 1 1 700px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* background-color: #f3f0f0; */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 165, 0, 0.8) 50%, rgba(255, 69, 0, 0.8) 100%), linear-gradient(to bottom right, #ff8c00, #ff4500);

  padding: 15px;
}
.container_wrapper .main-video-container .main-video {
  margin-bottom: 7px;
  border-radius: 5px;
  width: 100%;
}
.container_wrapper .main-video-container .main-vid-title {
  font-size: 20px;
  color: #000000;
}
.container_wrapper .video-list-container {
  flex: 1 1 350px;
  height: 585px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* background-color: #ffffff; */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 165, 0, 0.8) 50%, rgba(255, 69, 0, 0.8) 100%), linear-gradient(to bottom right, #ff8c00, #ff4500);

  padding: 15px;
}
.container_wrapper .video-list-container::-webkit-scrollbar {
  width: 10px;
}
.container_wrapper .video-list-container::-webkit-scrollbar-track {
  background-color: #484747;
  border-radius: 5px;
}
.container_wrapper .video-list-container::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
}
.container_wrapper .video-list-container .list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: #cbcbcb;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}
.container_wrapper .video-list-container .list:last-child {
  margin-bottom: 0;
}
.container_wrapper .video-list-container .list.active {
  background-color: #000;
}
.container_wrapper .video-list-container .list.active .list-title {
  color: #fff;
}
.container_wrapper .video-list-container .list .list-video {
  width: 100px;
}
.container_wrapper .video-list-container .list .list-title {
  font-size: 17px;
  color: #444;
}

@media (max-width: 1200px) {
  .container_wrapper{
    margin: 0;
  }
}
@media (max-width: 450px) {
  .container_wrapper .main-video-container .main-vid-title {
    font-size: 15px;
    text-align: center;
  }
  .container_wrapper .video-list-container .list {
    flex-flow: column;
    gap: 10px;
  }
  .container_wrapper .video-list-container .list .list-video {
    width: 100%;
  }
  .container_wrapper .video-list-container .list .list-title {
    font-size: 15px;
    text-align: center;
  }
}
